@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --primaryColorExtraDark: #5a5080;
    --primaryColorDark: #534496;
    --primaryColor: #7163ba;
    --primaryColorLight: #8d82c8;
    --primaryOutlineColor: #9e95ce;

    --secondaryColorDark: #e65d88;
    --secondaryColor: #fe84a9;
    --secondaryColorLight: #feaec7;
    --secondaryColorExtraLight: #fbdfe8;
    --secondaryOutlineColor: #fcb3cb;

    --backgroundColor: #efeff0;
    --backgroundInput: #f3f3f3;

    --fontSizeExtraSmall: 10px;
    --fontSizeSmall: 12px;
    --fontSizeMedium: 14px;
    --fontSizeBig: 18px;
    --fontSizeHuge: 24px;
}

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #f7f9f9;
    font-size: var(--fontSizeMedium);
    color: var(--primaryColorExtraDark);
}

::selection{
    background-color: transparent;
}